<div class="era-panel-container" >
    @if (!is_selected) {
        <div class="era-panel-item-container" [style.background-image]="'url(/assets/era/' + era.image + ')'">
            <div class="title-card" [ngClass]="title_rotate_classname"><p>{{era.title}}</p></div>
        </div>
        
    }
    
    @if (is_selected) {
        <div class="timeline-header">
            <h3 class="">{{era.title}} ( {{era.period_from}} to {{era.period_to}})</h3>
        </div>
        
        <div>
            <app-timeline [timeline_events]="era_events"></app-timeline>
        </div>
        
    }
</div>