<div class="era-panel-container" >
    @if (!is_selected) {
        <div class="era-panel-item-container" [style.background-image]="'url(/assets/era/' + era.image + ')'">
            <div class="title-card" [ngClass]="title_rotate_classname"><p>{{era.title}}</p></div>
        </div>
        
    }
    
    @if (is_selected) {
        <p class="timeline-header">{{era.title}}</p>
        <div>
            <app-timeline [timeline_events]="era_events"></app-timeline>
        </div>
        
    }
</div>