<div class="timeline-container">
  <ul id='timeline'>
    <li class='event down'>
      <div class='content'>
        <div class="avatar">me</div>
      </div>
      <div class="dot">
        <span class='circle'></span>
      </div>
      <div class='date'>2008</div>
    </li>
    <li class='event down'>
      <div class='content'>
        <div class="avatar">asjdhkajshd kjahsdk jahs kdajsdhkajshdkajshdkajhsdkjashd kajhsdkjhaskdjhaksjdh aksjd hkajsd hkj</div>
      </div>
      <div class="dot">
        <span class='circle'></span>
      </div>
      <div class='date'>2010</div>
    </li>
    <li class='event down'>
      <div class='content'>
        <div class="avatar">asjdhkajshd kjahsdk jahs kdajsdhkajshdkajshdkajhsdkjashd kajhsdkjhaskdjhaksjdh aksjd hkajsd hkj</div>
      </div>
      <div class="dot">
        <span class='circle'></span>
      </div>
      <div class='date'>2010</div>
    </li>
    <li class='event down'>
      <div class='content'>
        <div class="avatar">asjdhkajshd kjahsdk jahs kdajsdhkajshdkajshdkajhsdkjashd kajhsdkjhaskdjhaksjdh aksjd hkajsd hkj</div>
      </div>
      <div class="dot">
        <span class='circle'></span>
      </div>
      <div class='date'>2010</div>
    </li>

    <li class='event down'>
      <div class='content'>
        <div class="avatar">asjdhkajshd kjahsdk jahs kdajsdhkajshdkajshdkajhsdkjashd kajhsdkjhaskdjhaksjdh aksjd hkajsd hkj</div>
      </div>
      <div class="dot">
        <span class='circle'></span>
      </div>
      <div class='date'>2010</div>
    </li>
    <li class='event down'>
      <div class='content'>
        <div class="avatar">asjdhkajshd kjahsdk jahs kdajsdhkajshdkajshdkajhsdkjashd kajhsdkjhaskdjhaksjdh aksjd hkajsd hkj</div>
      </div>
      <div class="dot">
        <span class='circle'></span>
      </div>
      <div class='date'>2010</div>
    </li>

  </ul>
</div>

