.timeline-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100vh;
}

#timeline {
    /* list-style: none;
    width: 100%;
    height: 200px; */
    border-top: 6px solid #bada55;
    display: table;
    border-spacing: 30px 0;
}

#timeline li {
    display: table-cell;
    position: relative;
    min-width: 320px;
}

.circle {
    margin: 0 auto;
    top: -14px;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: #fffff0;
    border: 6px solid #f98262;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.content {
    text-align: center;
    position: relative;
}

.event-card-container {
    width: 320px;
    height: 200px;
    display: block;
    border: 6px solid #bada55;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
    background: #fffff0;
}

.content:before {
    content: '';
    width: 50px;
    height: 100px;
    left: 50%;
    margin-left: -2px;
    position: absolute;
}

li.down .content:before {
    border-left: 4px solid #f98262;
}

li.down .event-card-container {
    top: 80px;
}

li.up .content {
    margin-top: -106px;
}

li.up .content:before {
    border-left: 4px solid #f98262;
}

li.up .date {
    margin-top: 106px;
}

li.up .event-card-container {
    background: #fffff0;
    margin-top: -30px;
}

.rectangle {
    border: 1px solid #f98262;
    border-radius: 30px;
    height: 30px;
    width: 200px;
    top: -19px;
    position: relative;
    background: #fffff0;
    line-height: 30px;
    text-align: center;
}

.date {
    position: relative;
    top: -40px;
}