<div class="timeline-container">
  <ul id='timeline'>
    @for (event of timeline_events; track event.id) {
      <li class='event down'>
        <div class='content'>
          <div class="event-card-container">
            <app-event-card [timeline_event]="event"></app-event-card>
          </div>
        </div>
        <div class="dot">
          <span class='circle'></span>
        </div>
        <div class='date'>{{event.date}}</div>
      </li>
        
    } @empty {
      No data
    }
    

  </ul>
</div>

